@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Foldit:wght@100..900&family=Hind:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Nova+Square&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ramaraja&family=Teko:wght@300..700&display=swap');

body {
  /* font-family: "calibri","Times New Roman", Times, serif; */
  font-family: "Lato", sans-serif;
  background-color: #081c29;
  color: white;
  overflow-x:hidden;
}
#nav-bar{
  width:101vw;
  height:10vh;
  background-color:black;
  position:absolute;
  top:0vh;
  left:0vw;
}
#nav-heading{
  width:70vw;
  height:7vh;
  font-size:6.5vw;
  position:absolute;
  left:7vw;
  top:1vh;
  background: linear-gradient(to right, #02AABD, #1BFFFF,#cf23cf, #00CDAC);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#toggle{
  width:6vh;
  height:6vh;
  position:absolute;
  left:84vw;
  top:2vh;
}
#show-details{
  width:30vw;
  height:90vh;
  background-color:#081c29;
  z-index:1;
  opacity:1;
  position:absolute;
  top:0vh;
  left:0vw;
  display:flex;
  justify-content:top;
  flex-direction:column;
  animation: slide-down 1s ease forwards;
}
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
#close{
  width:5vw;
  height:3vh;
  position:absolute;
  left:87vw;
  top:3.5vh;
}

#show-details ul{
  display:flex;
  flex-direction:column;
  gap:5vh;
  position:absolute;
  left:-6vw;
top:6vh;
}
#link{
  font-weight:bolder;
  background: linear-gradient(to right, #02AABD, #38EF78);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
