#image-container{
  width:100vw;
  height:42vh;
  display:flex;
  justify-content:center;
  align-items:center;
  position:absolute;
  top:11vh;
}
#image-container img{
  width:70vw;
  height:35vh;
  border-radius:50vw;
  position:absolute;
  top:1vh;
  box-shadow: #f32170 0vw 2vw 4vw;
  animation: slide-down 1s ease forwards;
}
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
#infos{
  width:90vw;
  position:absolute;
  top:55vh;
  font-weight:bolder;
  left:5vw;
  font-size:3.5vw;
}
.text{
  font-size:8vw;
  background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#title{
  position:absolute;
  top:46vh;
  left:5vw;
  font-size:5.5vw;
}
#linkedin{
  width:10vw;
  height:5vh;
  position:absolute;
  top:72vh;
  left:6vw;
}
#github{
  width:10vw;
  height:5vh;
  position:absolute;
  top:72vh;
  left:20vw;
}