#project-heading{
  font-size:8.5vw;
  background: linear-gradient(to right, #FF61D2, #1EAE98);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  position:absolute;
  top:8vh;
  left:27vw;
}
#project-images{
  width:100vw;
  height:50vh;
  position:absolute;
  top:20vh;
  display:flex;
 flex-wrap:wrap;
 gap:4vh;
}
#project-1{
  width:100vw;
  height:45vh;
  display:flex;
  flex-direction:column;
}
#project-images img{
  width:70vw;
  height:25vh;
  position:relative;
  left:7vh;
  border-radius:5vw;
  box-shadow: #f32170 0vw 2vw 4vw;
  transition: transform 0.3s ease-in-out;
  animation: slide-down 1s ease forwards;
  &:hover{
  transform:scale(1.1);
}
}
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
#project-images h1{
  font-size:6.5vw;
  display:flex;
  justify-content:center;
}
#project-images p{
  font-size:3.5vw;
  position:relative;
  left:9vw;
  width:85vw;
  top:-2vh;
}